@import '../../styles/vars';

nav {
  border: 2px solid yellow;
  display: flex;
  flex-direction: row;
  background-color: $navbar-background;
  width: 100%;
  margin: 0;

  .testing {
    color: red;
    margin: 0;
    font-size: 50px;
    border: 1px solid yellow;
  }
}

